{
  "presets": [
    ["@babel/preset-env", { "loose": true }],
    [
      "@babel/preset-react"
    ],
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}